<h1>Bart's Breakout</h1><br>
<h3 id="score"></h3>
<h3 id="gameover"></h3>


<br id="_clear"><br>

<div id="container"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.js"></script>
<script src="/javascripts/sketch.js"></script>
<script src="/javascripts/ball.js"></script>
<script src="/javascripts/paddle.js"></script>
<script src="/javascripts/collision.js"></script>
<script src="/javascripts/bricks.js"></script>


<br><br>
<button onclick="sketch.resetSketch()">New game</button>